extends layout

block content
  div(class='jumbotron')
      h1(align='center') Pihole Control

      - var btnType = 'primary'
      - var btnSize = 'lg'
      table(align='center' style="width:90%")
        tr
            td
                button(type='button' style="width:100%" class='btn btn-' + btnType + ' btn-' + btnSize onclick='enable();') ENABLE PIHOLE
        tr
            td
                button(type='button' style="width:100%" class='btn btn-' + btnType + ' btn-' + btnSize onclick='disable();') DISABLE PIHOLE

        tr
            td
                div(class='container' align='center' style="width:100%" border="1")
                    div(id='status-alert' class='alert alert-enabled')
                        h3(id="status") Status

  script.
    function setStatus(status) {
        $('#status').html("STATUS: " + status.toUpperCase());
        if(status === "Enabled") {
            $('#status-alert').addClass('alert-enabled').removeClass('alert-disabled');
        } else {
            $('#status-alert').addClass('alert-disabled').removeClass('alert-enabled');
        }
    }
           
    $( document ).ready(function() {
      $.get("/status", function(data) {
          console.log("Current Status: " + data);
          setStatus(data);
      });
    });

    function disable() {
      $.get("/control/disable", function(status) {
        setStatus(status);
      });
    }

    function enable() {
      $.get("/control/enable", function(status) {
        setStatus(status);
      });
    }

