extends layout

block content
  h1 Pihole controller

  - var btnType = 'info'
  - var btnSize = 'lg'
  table(cellpadding=50)
    tr
      td
        button(type='button' class='btn btn-' + btnType + ' btn-' + btnSize onclick='enable();') Enable Pihole
      td
        button(type='button' class='btn btn-' + btnType + ' btn-' + btnSize onclick='disable();') Disable Pihole

  div(id="status") Status

  script.
    $( document ).ready(function() {
      $.get("/status", function(data) {
          console.log("Current Status: " + data);
          $('#status').html(data);
      });
    });

    function disable() {
      $.get("/control/disable", function(data) {
        $('#status').html(data);
      });
    }

    function enable() {
      $.get("/control/enable", function(data) {
        $('#status').html(data);
      });
    }

